body {
    background-color: #fcfcfc;
    width: 100%;
}
.row{
    width: inherit;
    margin-left: 0 !important;
}

.row>*{
    padding-right:0 !important;
    padding-left: 0 !important;
}

/* Sidebar Styling */

.side-menu {
    height: 100vh;
    
}

.side-menu .menu-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    list-style: none;    
    cursor: pointer;
}
.menu-item a{
    text-decoration: none;
    color: #000;
}

.side-menu .menu-item:hover {
    background-color: #e9ecef;

}

/* Navbar */
.navbar {
    background-color: #1581da ;
    height: 10%;
}

/* Professores section */
.professores{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.professores img {
    width: 33%;
    padding-left: 8em;;
}

.highlight img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* footer */
footer {
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #000;
    text-align: center;
}
.highlight {
    background-color: #b3ffb7;
    padding: 10px;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
/* proximo evento */
.highlight {
    width: 40%; /* Ajuste a porcentagem conforme necessário, 50% da largura da página */
    margin: 2 auto; /* Centraliza o container horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno */
    background-color: #1581da; /* Cor de fundo leve para destaque */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.container-fluid {
    max-width: 90%; /* Reduz a largura total do container */
    height: 7.50rem;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: #333;
    transition: all 0.3s ease;
}

.menu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu.open .bar:nth-child(2) {
    opacity: 0;
}

.menu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

    